<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@potg) do |f| %>
      <%= render 'shared/error_messages', obj: @potg %>

      <%= f.label :player_id, "Spieler" %>
      <%= select("player_of_the_game", "player_id", Player.where("role LIKE '1%' and active='t'").order(:secondname).all.collect {|p| [ "#{p.firstname} #{p.secondname}", p.id ] }, { include_blank: false }, class: 'form-control') %>

      <%= f.label :date, "Datum" %>
      <%= f.text_field :date, id: "date", class: 'timepicker-two form-control', value: @potg.date.nil? ? Time.now.strftime("%d-%m-%Y") : @potg.date.to_time.strftime("%d-%m-%Y") ,readonly: true %>

      <%= f.label :gegner, "gegner" %>
      <%= f.text_field :gegner, class: 'form-control'%>

      <%= f.submit btn_text, class:"btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#date').glDatePicker({
      cssName: 'flatwhite',
      dowOffset: 1,
      onClick: function(target, cell, date, data) {
        target.val(date.getDate() + '-' + (date.getMonth()+1) + '-' + date.getFullYear());
      }
    });
  });
</script>
