<div class="center">
  <%= will_paginate @potgs %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Spieler</th>
        <th>Gegner</th>
        <% if is_more_than_player? %>
          <th>bearbeiten</th>
          <th>löschen</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @potgs.each do |p| %>
      <tr>
        <td><%= p.date.to_time.strftime('%d.%m.%Y') %></td>
        <td><%= "#{p.player.firstname} #{p.player.secondname}" %></td>
        <td><%= p.gegner %></td>

        <% if is_more_than_player? %>
          <td><%= link_to "bearbeiten",
                      edit_player_of_the_game_path(p),
                      class: "btn btn-warning btn_full_width", style: "margin-top:0px"  %></td>

          <td><%= link_to "löschen",
                      player_of_the_game_path(p),
                      method: :delete,
                      data: { confirm: "Sicher, dass du den Spieler des Spiels löschen willst?" },
                      class: "btn btn-danger btn_full_width", style: "margin-top:0px" %></td>
        <% end %>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>
