<% provide(:title, "Spieler des Spiels bearbeiten") %>
<h1 class="headline">Spieler des Spiels bearbeiten</h1>

<%= render partial:'form', locals: { btn_text: "Spieler des Spiels ändern", edit: true} %>
