<% provide(:title, "Auflistung Spieler des Spiels") %>
<h1 class="headline">Auflistung Spieler des Spiels</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% if is_more_than_player? %>
      <%= link_to "Neuen Spieler des Spiels hinzufügen",
                new_player_of_the_game_path,
                class: "btn btn-success btn_full_width btn-lg",
                style: "margin-bottom:20px" %>
    <% end %>

    <%= render partial:'potg_table' %>

  </div>
</div>
