<% provide(:title, "Trainingstatus") %>
<h1 class="headline">Änderung Trainingstatus</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= render partial: "training_sessions/information_training_session", locals: {user_info: true} %>

    <%= form_for(@training_session_player) do |f| %>
      <%= render 'shared/error_messages', obj: @training_session_player %>

      <%= f.hidden_field :player_id, value: @player.id %>

      <%= f.hidden_field :training_session_id, value: @training_session.id %>

      <%= f.label :reason, "Grund" %>
      <%= f.text_area :reason, rows:5,class: 'form-control' %>

      <%= f.submit "Grund ändern", class:"btn btn-primary btn-lg" %>

      <%= link_to "Wieder anmelden",
                  training_sessions_player_path(
                    @training_session_player.id,
                    training_session_id: @training_session.id,
                    player_id: @player.id
                  ),
                  method: :delete,
                  class: "btn btn-success btn_full_width btn-lg" %>
      <% if is_more_than_player? %>
      <%= link_to "Trainingsübersicht",
                  training_sessions_path(
                    player_id: @player.id
                  ),
                  class: "btn btn-warning btn_full_width btn-lg" %>
      <% end %>
    <% end %>

  </div>
</div>
