<% provide(:title, "Trainingstatus") %>
<h1 class="headline">Abmeldung Training</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= render partial: "training_sessions/information_training_session", locals: {user_info: true} %>

    <%= form_for(@training_session_player) do |f| %>
      <%= render 'shared/error_messages', obj: @training_session_player %>

      <%= f.hidden_field :player_id, value: @player.id %>

      <%= f.hidden_field :training_session_id, value: @training_session.id %>

      <%= f.label :reason, "Grund" %>
      <%= f.text_area :reason, rows:5, class: 'form-control' %>

      <%= f.submit "abmelden", class:"btn btn-primary btn-lg" %>
    <% end %>
    <% if is_more_than_player? %>
    <%= link_to "Trainingsübersicht",
                training_sessions_path(
                  player_id: @player.id
                ),
                class: "btn btn-warning btn_full_width btn-lg" %>
    <% end %>
  </div>
</div>
