<% provide(:title, "Informationen") %>
<h1 class="headline">Informationen</h1>

<div class="row market-update-gd">
  <div class="col-md-8 col-md-offset-2">

    <h3>Kapitäne</h3>
    <p>1. Benedikt Flecke</p>
    <p>2. Sebastian Hamm</p>
    <p>3. Darvin Fröhlich</p>
    <br><br>
    <h3>Mannschaftsrat</h3>
    <p>Sebastian Hamm</p>
    <p>Benedikt Flecke</p>
    <p>Darvin Fröhlich</p>
    <p>Jannis Risse</p>
    <p>Felix Lönnecke</p>
    <p>Kristof Hunsel</p>
    <br><br>
    <h3>Vergnügungsausschuss</h3>
    <p>Michael Lutter</p>
    <p>Simon Bonk</p>
    <p>David Nowak</p>
    <br><br>
    <h3>Mannschaftskasse</h3>
    <p>Benedikt Flecke</p>


  </div>
</div>
