<% provide(:title, "Login") %>
<h1 class="login_header">SWH Trainingsapp</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= image_tag('logo.png',:align=> "middle",class: 'logo') %>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username, "Benutzername" %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password, "Passwort"%>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
