<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@player_penalty, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', obj: @player_penalty %>

      <%= f.label :player_id, "Spieler" %>
      <%= select("player_penalty", "player_id", Player.where("active='t'").order(:secondname).all.collect {|p| [ "#{p.firstname} #{p.secondname}", p.id ] }, { include_blank: false, selected: @last_penalty.player_id }, class: 'form-control') %>

      <%= f.label :penalty_id, "Strafe" %>
      <%= select("player_penalty", "penalty_id", Penalty.order(:name).all.collect {|p| [ p.name, p.id ] }, { include_blank: false, selected: @last_penalty.penalty_id }, class: 'form-control') %>

      <%= f.label :date, "Datum" %>
      <%= f.text_field :date, id: "date", class: 'timepicker-two form-control', value: Time.now.strftime("%d-%m-%Y") ,readonly: true %>

      <%= f.submit btn_text, class:"btn btn-success btn-lg" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#date').glDatePicker({
      cssName: 'flatwhite',
      dowOffset: 1,
      onClick: function(target, cell, date, data) {
        target.val(date.getDate() + '-' + (date.getMonth()+1) + '-' + date.getFullYear());
      }
    });
  });
</script>
