<% provide(:title, "Auflistung Spieler Strafen") %>
<h1 class="headline">Auflistung Spieler Strafen</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="center">
      <%#= will_paginate %>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Spieler</th>
            <th>Strafe</th>
            <% if is_kassierer_or_admin? %>
              <th>bearbeiten</th>
              <th>löschen</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <% @player_penalties.each do |p| %>
          <tr>
            <td><%= p.date.to_time.strftime('%d.%m.%Y') %></td>
            <td><%= "#{p.player.firstname} #{p.player.secondname}" %></td>
            <td><%= p.penalty.name %></td>

            <% if is_kassierer_or_admin? %>
              <td><%= link_to "bearbeiten",
                          edit_player_penalty_path(p),
                          class: "btn btn-warning btn_full_width", style: "margin-top:0px"  %></td>

              <td><%= link_to "löschen",
                          player_penalty_path(p),
                          method: :delete,
                          data: { confirm: "Sicher, dass du die Zuweisung löschen willst?" },
                          class: "btn btn-danger btn_full_width", style: "margin-top:0px" %></td>
            <% end %>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
