<% provide(:title, "Spieler Strafe zuweisen") %>
<h1 class="headline">Spieler Strafe zuweisen</h1>

<%= render partial:'form', locals:{btn_text: "Strafe zuweisen"} %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= link_to "Auswärtsspiel hinzufügen / bearbeiten",
          away_games_path,
          class: "btn btn-primary btn_full_width btn-lg",
            style:"margin-top:30px" %>

  </div>
</div>
