<div class="col-md-12 market-update-gd training_listing">
  <div class="market-update-block clr-block-1 <%= cssClass %>">

    <div class="col-md-2 market-update-right">
      <div class="img-circle">
        <%= display_avatar(player) %>
      </div>
    </div>

    <div class="col-md-10 market-update-left">
      <h4 class="training_listing_name"><%= name %> </h4>
        <h5><b>Anwesenheit:</b> <%= answesenheit %></h5>
    </div>

    <div class="clearfix"> </div>

  </div>
</div>
