<% provide(:title, "Wöchentliche Trainingseinheiten") %>
<h1 class="headline"> Wöchentliche Trainingseinheiten </h1>

<div class="col-md-8 center-div">
    <input type="text" id="example" class="calendar-input" readonly/>
</div>

<script type="text/javascript">
$(function(){
  $('#example').glDatePicker({
    cssName: 'flatwhite',
    showAlways: true,
    dowOffset: 1,
    onClick: function(target, cell, date, data) {
      var tag =  date.getDate() + '-';
      var monat = (date.getMonth()+1)+ '-';
      var jahr = date.getFullYear();
      window.location.href = "/weekly_training/0?date="+tag+monat+jahr;
    }
  });

  function resize() {
    var height = $('.gldp-flatwhite').height()
    var top = parseInt($('.center-div').offset().top)
    var left = parseInt($('.center-div').offset().left)
    var width = parseInt($('.center-div').width())
    $('.center-div').css({ height: height })
    $('.gldp-flatwhite').css({
      top: top+80,
      left: left+15,
    })
    $('#example').css({
      margin:0,
      height:0
    })
  }

  resize()

});
</script>
