<% provide(:title, "Wochenübersicht") %>
<h1 class="headline">Wochenübersicht</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% @player.each do |p| %>
        <%
          @count = 0
          @training_sessions.each do |t|
            if TrainingSessionsPlayer.where("training_session_id= ? and player_id=?",t.id,p.id).first.nil?
              @count = @count+1
            end
          end
        %>
        <%= render  partial:'box',
                  locals: { cssClass: "player_present",
                            icon: p.image.thumb.url,
                            name: "#{p.firstname} #{p.secondname}",
                            answesenheit: "(#{@count}/#{@count_training_session})",
                            player: p}%>
    <% end %>

  </div>
</div>
