<div class="center">
  <h3>Alle Einzahlungen</h3>
  <%= will_paginate @deposits, param_name: 'deposits_page' %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Spieler</th>
        <th>Betrag</th>
        <% if is_kassierer_or_admin? %>
          <th>bearbeiten</th>
          <th>löschen</th>
        <% end %>
      </tr>
    </thead>
    <tbody>

    <% @deposits.each do |d| %>
      <tr>
        <td><%= d.date.to_time.strftime('%d.%m.%Y') %></td>
        <td><%= "#{d.player.firstname} #{d.player.secondname}" %></td>

        <td><%= number_to_currency(d.amount, unit: "€") %></td>
        <% if is_kassierer_or_admin? %>
          <td><%= link_to "Einzahlung bearbeiten",
                      edit_deposit_path(d),
                      class: "btn btn-warning btn_full_width", style: "margin-top:0px"  %></td>

          <td><%= link_to "Einzahlung löschen",
                      deposit_path(d),
                      method: :delete,
                      data: { confirm: "Sicher, dass du die Einzahlung löschen willst?" },
                      class: "btn btn-danger btn_full_width", style: "margin-top:0px" %></td>
        <% end %>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>
