<div class="center">
  <h3>Alle Auszahlungen</h3>
  <%= will_paginate @withdraws, param_name: 'withdraws_page' %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Spieler</th>
        <th>Betrag</th>
        <% if is_kassierer_or_admin? %>
          <th>bearbeiten</th>
          <th>löschen</th>
        <% end %>
      </tr>
    </thead>
    <tbody>

    <% @withdraws.each do |w| %>
      <tr>
        <td><%= w.date.to_time.strftime('%d.%m.%Y') %></td>
        <td><%= number_to_currency(w.amount, unit: "€") %></td>
        <td><%= w.description %></td>
        <% if is_kassierer_or_admin? %>
          <td><%= link_to "Auszahlung bearbeiten",
                      edit_withdraw_path(w),
                      class: "btn btn-warning btn_full_width", style: "margin-top:0px"  %></td>

          <td><%= link_to "Auszahlung löschen",
                      withdraw_path(w),
                      method: :delete,
                      data: { confirm: "Sicher, dass du die Auszahlung löschen willst?" },
                      class: "btn btn-danger btn_full_width", style: "margin-top:0px" %></td>
        <% end %>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>
