<% provide(:title, "Kassenbericht") %>
<h1 class="headline">Kassenbericht</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-12">
      <h4>Kontostand: <%= number_to_currency(@balance, unit: "") %> €<h4>
      <h4>Offene Strafen:  <%= number_to_currency(@open_penalties_sum, unit: "") %> €<h4>
      <h4>Einzahlungen Insgesamt: <%= number_to_currency(@deposit_sum, unit: "") %> €<h4>
      <h4>Auszahlungen Insgesamt:  <%= number_to_currency(@withdraw_sum, unit: "") %> €<h4>
    </div>
    <div class="col-md-12">
      <%= render partial:'deposits_table' %>
    </div>

    <div class="col-md-12">
      <%= render partial:'withdraws_table' %>
    </div>
  </div>
</div>
