<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@away_game) do |f| %>
      <%= render 'shared/error_messages', obj: @away_game %>

      <%= f.label :date, "Datum" %>
      <%= f.text_field :date, id: "date", class: 'timepicker-two form-control', value: params.has_key?(:date) ? params[:date] : Time.now.strftime("%d-%m-%Y") ,readonly: true %>

      <%= f.submit btn_text, class:"btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#date').glDatePicker({
      cssName: 'flatwhite',
      dowOffset: 1,
      onClick: function(target, cell, date, data) {
        target.val(date.getDate() + '-' + (date.getMonth()+1) + '-' + date.getFullYear());
      }
    });
  });
</script>
