<div class="col-md-12" style="padding-left:0px;padding-right: 0px;">
  <div class="row" style="margin-bottom:20px;">

    <div class="col-md-4 training">
      <ul>
        <li class="icon-calendar"><span><%= @away_game.date.to_time.strftime('%d.%m.%Y') %></span></li>
      </ul>
    </div>

    <div class="col-md-4 training">
      <ul>
        <li class="icon-process"><span><%= "#{@count_paid} von #{@players_away_game.count} bezahlt" %></span></li>
      </ul>
    </div>
    
  </div>
</div>
