<% if status == 0
  @color = "#ee3e32"
elsif status == 1
  @color = "#1b8a5a"
else
  @color = "#1d4877"
end %>

<tr style="background-color:<%= @color %>; color:white">
  <td style="font-weight:bold"><%= "#{player.firstname} #{player.secondname}" %></td>
  <%  if status == 0
        to_status_bezahlt = 1
        to_status_muss_nicht = 2
        btn_text_bezahlt = "bezahlt"
        btn_text_muss_nicht = "muss nicht bezahlen"
        btn_bezahlt = true
      elsif status == 1
        to_status_bezahlt = 0
        to_status_muss_nicht = 2
        btn_text_bezahlt = "doch nicht bezahlt"
        btn_text_muss_nicht = "muss nicht bezahlen"
        btn_bezahlt = true
      else
        to_status_bezahlt = 1
        to_status_muss_nicht = 0
        btn_text_bezahlt = "bezahlt"
        btn_text_muss_nicht = "muss doch bezahlen"
        btn_bezahlt = false
      end %>

  <%= form_tag update_player_game_path,  method: :post, id: "update_player_game" do %>
    <%= hidden_field_tag(:player_id, player.id) %>
    <%= hidden_field_tag(:status, to_status_bezahlt) %>
    <%= hidden_field_tag(:away_game_id, away_game_id) %>

    <% if btn_bezahlt %>
      <td><%= button_tag(
            btn_text_bezahlt,
            type: :submit,
            player_id: player.id,
            status: to_status_bezahlt,
            away_game_id: away_game_id,
            class: "btn btn-warning btn_full_width",
            style: "margin-top:0px; color:black; background-color:#fff; border-color:black")  %>
      </td>
    <% else %>
      <td></td>
    <% end %>
  <% end %>
  <%= form_tag update_player_game_path, method: :post, id: "update_player_game" do %>
    <%= hidden_field_tag(:player_id, player.id) %>
    <%= hidden_field_tag(:status, to_status_muss_nicht) %>
    <%= hidden_field_tag(:away_game_id, away_game_id) %>

    <td><%= button_tag(
            btn_text_muss_nicht,
            type: :submit,
            player_id: player.id,
            status: to_status_muss_nicht,
            away_game_id: away_game_id,
            class: "btn btn-warning btn_full_width",
            style: "margin-top:0px; color:black; background-color:#fff; border-color:black")  %>
    </td>
    
  </tr>
<% end %>
