<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Spieler</th>
        <th>bezahlt</th>
        <th>Muss nicht zahlen</th>
      </tr>
    </thead>
    <tbody>
    <% @players_away_game.each do |p|
        player_game =  @player_away_game.where("player_id = ?", p.id).first
        status = player_game.nil? ? 0 : player_game.status %>

        <%= render partial:'item', locals: { player: p, status: status, away_game_id: @player_away_game.first.away_game_id } %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Auswärtsspiel löschen",
            away_game_path(@away_game),
            method: :delete,
            data: { confirm: "Sicher, dass du das Auswärtsspiel löschen willst?" },
            class: "btn btn-danger btn_full_width btn-lg" %>
