<% provide(:title, "Auswärtsspiele") %>
<h1 class="headline"> Auswärtsspiele </h1>

<div class="col-md-8 center-div">
    <input type="text" id="example" class="calendar-input" readonly/>
</div>

<script type="text/javascript">
$(function(){
  $('#example').glDatePicker({
    cssName: 'flatwhite',
    showAlways: true,
    dowOffset: 1,
    specialDates: [
      <% @away_games.all.each do |t| %>
        {
          <%  year = t.date.year
              month = t.date.month-1
              day = t.date.day%>
          <%= "date: new Date(#{year},#{month},#{day})," %>
          cssClass: 'player_present'
        },

      <% end %>
    ],
    onClick: function(target, cell, date, data) {
      var tag =  date.getDate() + '-';
      var monat = (date.getMonth()+1)+ '-';
      var jahr = date.getFullYear();
      window.location.href = "/away_games/show?date="+tag+monat+jahr;
    }
  });

  function resize() {
    var height = $('.gldp-flatwhite').height()
    var top = parseInt($('.center-div').offset().top)
    var left = parseInt($('.center-div').offset().left)
    var width = parseInt($('.center-div').width())
    $('.center-div').css({ height: height })
    $('.gldp-flatwhite').css({
      top: top,
      left: left+15,
    })
    $('#example').css({
      margin:0,
      height:0
    })
  }

  resize()

});
</script>
