<% provide(:title, "Auswärtsspiel") %>
<h1 class="headline">Auswärtsspiel</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="col-md-12">
      <%= render partial: "infos_away_game" %>
    </div>

    <div class="col-md-12" id="results">
        <%= render partial: "players_table" %>
    </div>

  </div>
</div>
