<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
    <%= form_for(@vaccation) do |f| %>
      <%= render 'shared/error_messages', obj: @vaccation %>

      <%= f.hidden_field :player_id, value: current_player.id, class: 'form-control' %>

      <%= f.label :from_date, "Vom" %>
      <%= f.text_field :from_date, id: "from", class: 'timepicker-two form-control', value: @vaccation.from_date.nil? ? Time.now.strftime("%d-%m-%Y") : @vaccation.from_date.to_time.strftime("%d-%m-%Y")  ,readonly: true %>

      <%= f.label :until_date, "Bis" %>
      <%= f.text_field :until_date, id: "until", class: 'timepicker-two form-control', value: @vaccation.until_date.nil? ? Time.now.strftime("%d-%m-%Y") : @vaccation.until_date.to_time.strftime("%d-%m-%Y") ,readonly: true %>

      <%= f.label :description, "Grund" %>
      <%= f.text_area :description, rows:5, class: 'form-control' %>

      <%= f.submit btn_text, class:"btn btn-primary btn-lg" %>

      <% if edit && DateTime.now < @vaccation.from_date %>
        <%= link_to "Wieder anmelden",
                  vaccation_path(@vaccation),
                  method: :delete,
                  class: "btn btn-success btn_full_width btn-lg" %>
      <% end %>
    <% end %>

  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#from').glDatePicker({
      cssName: 'flatwhite',
      dowOffset: 1,
      onClick: function(target, cell, date, data) {
        target.val(date.getDate() + '-' + (date.getMonth()+1) + '-' + date.getFullYear());
      }
    });

    $('#until').glDatePicker({
      cssName: 'flatwhite',
      dowOffset: 1,
      onClick: function(target, cell, date, data) {
        target.val(date.getDate() + '-' + (date.getMonth()+1) + '-' + date.getFullYear());
      }
    });
  });
</script>
