<% provide(:title, "Urlaube am #{params[:date]}") %>
<h1 class="headline"><%= "Urlaube am #{params[:date]}" %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Spieler</th>
            <th>Vom</th>
            <th>Bis</th>
            <th>Grund</th>
          </tr>
        </thead>
        <tbody>
        <% @abmeldungen.each do |v| %>
          <tr>
            <td><%= "#{v.player.firstname} #{v.player.secondname}" %></td>
            <td><%= v.get_from.to_time.strftime('%d.%m.%Y') %></td>
            <td><%= v.get_until.to_time.strftime('%d.%m.%Y') %></td>
            <td><%= v.get_reason %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <%= link_to "Zurück zum Kalender",
              vaccation_overview_path,
              class: "btn btn-primary btn_full_width btn-lg" %>
  </div>
</div>
