<% provide(:title, "Abmeldungen") %>
<h1 class="headline"> Abmeldungen </h1>

<div class="col-md-8 center-div">
    <%= link_to "Neue Abmeldung hinzufügen",
            new_vaccation_path,
            class: "btn btn-primary btn_full_width btn-lg" %>
    <input type="text" id="example" class="calendar-input" readonly/>
</div>

<script type="text/javascript">
$(function(){
  $('#example').glDatePicker({
    cssName: 'flatwhite',
    showAlways: true,
    dowOffset: 1,
    specialDates: [
      <% @vaccations.all.each do |v| %>
        <% start = v.from_date %>
        <% finish = v.until_date %>
        <% while(start <= finish) do %>
          {
            <%  year = start.year
                month = start.month-1
                day = start.day%>
            <%= "date: new Date(#{year},#{month},#{day})," %>
            cssClass: 'player_not_present'
          },
          <% start += 1.day %>
        <% end %>

      <% end %>
    ],
    onClick: function(target, cell, date, data) {
      var tag =  date.getDate() + '-';
      var monat = (date.getMonth()+1)+ '-';
      var jahr = date.getFullYear();
      window.location.href = "/vaccations/0/edit?date="+tag+monat+jahr;
    }
  });

  function resize() {
    var height = $('.gldp-flatwhite').height()
    var top = parseInt($('.center-div').offset().top)
    var left = parseInt($('.center-div').offset().left)
    var width = parseInt($('.center-div').width())
    $('.center-div').css({ height: height })
    $('.gldp-flatwhite').css({
      top: top+80,
      left: left+15,
    })
    $('#example').css({
      margin:0,
      height:0
    })
  }

  resize()

});
</script>
