<%= render partial: "information_training_session", locals: {user_info: false} %>

<% @player.each do |p|
  ps= is_player_not_present(p)
  if ps.nil? %>
    <%= render  partial:'box',
              locals: { cssClass: "player_present",
                        icon: p.image.thumb.url,
                        name: "#{p.firstname} #{p.secondname}",
                        reason: "",
                        player: p}%>
  <% else %>
    <%= render  partial:'box',
            locals: { cssClass: "player_not_present",
                      icon: p.image.thumb.url,
                      name: "#{p.firstname} #{p.secondname}",
                      reason: ps.reason,
                      player: p}%>
  <% end
end %>
