<%= render partial: "information_training_session", locals: {user_info: false} %>

<% @player.each do |p|
  ps= is_player_not_present(p)
  if ps.nil? %>
    <%= link_to new_training_sessions_player_path(player_id: p.id,training_session_id:@training_session.id) do %>
    <%= render  partial:'box',
              locals: { cssClass: "player_present",
                        icon: p.image.thumb.url,
                        name: "#{p.firstname} #{p.secondname}",
                        reason: "",
                        until_date:"",
                        player: p}%>
    <% end %>
  <% else %>
    <%= link_to edit_training_sessions_player_path(ps.id, player_id: p.id,training_session_id:@training_session.id) do %>
    <%= render  partial:'box',
            locals: { cssClass: "player_not_present",
                      icon: p.image.thumb.url,
                      name: "#{p.firstname} #{p.secondname}",
                      reason: ps.reason,
                      until_date: @abmeldung_until_date[p.id].to_time.strftime('%d.%m.%Y'),
                      player: p}%>
    <% end
  end
end %>
