<div class="col-md-12" style="padding-left:0px;padding-right: 0px;">
  <div class="row" style="margin-bottom:20px;">

    <div class="col-md-6 training">
      <ul>
        <li class="icon-calendar"><span><%= @training_session.date_time.to_time.strftime('%d.%m.%Y') %></span></li>
      </ul>
    </div>

    <div class="col-md-6 training">
      <ul>
        <li class="icon-clock"><span ><%= @training_session.date_time.to_time.strftime('%H:%M')%> Uhr</span></li>
      </ul>
    </div>

    <div class="col-md-6 training">
      <ul>
        <li class="icon-place"><span ><%= @training_session.place %></span></li>
      </ul>
    </div>

    <% if user_info %>
      <div class="col-md-6 training">
        <ul>
          <li class="icon-player"><span><%= "#{@player.firstname} #{@player.secondname}" %></span></li>
        </ul>
      </div>
    <% elsif !@count_available.nil? %>
      <div class="col-md-6 training">
        <ul>
          <li class="icon-process"><span><%= "#{@count_available} von #{@player.count} anwesend" %></span></li>
        </ul>
      </div>
    <% end %>
    
  </div>
</div>
