<% provide(:title, "Training bearbeiten") %>
<h1 class="headline">Training bearbeiten</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= render partial: "training_sessions/information_training_session", locals: {user_info: false} %>

    <%= form_for(@training_session) do |f| %>
      <%= render 'shared/error_messages', obj: @training_session %>

      <div class="clockpicker" data-align="top" data-autoclose="true">
        <label for="time">Uhrzeit</label>
        <input type="text" id="time" class="timepicker-two form-control" value="<%= @training_session.date_time.to_time.strftime('%H:%M') %>" readonly>
      </div>

      <%= f.label :place, "Ort" %>
      <%= f.text_field :place, class: 'form-control'%>

      <%= hidden_field_tag :date_time, "#{@training_session.date_time.to_time.strftime('%d-%m-%Y %H:%M')}" %>

      <%= f.submit "Training ändern", class:"btn btn-primary btn-lg" %>
    <% end %>

  </div>
</div>

<script type="text/javascript">
  $('.timepicker-two').wickedpicker({
    now:"19:00",
    twentyFour: true,
    title:"Wähle die Uhrzeit:"
  });

  $('.edit_training_session').submit(function() {
      updateDateTime();
      return true;
  });

  function updateDateTime(){
    time = $('#time').val();
    date = "<%= @training_session.date_time.to_time.strftime('%d.%m.%Y') %>";
    $('#date_time').val(date+" "+time);
  }
</script>
