<% provide(:title, "Trainingskalender") %>
<h1 class="headline"> Trainingskalender </h1>
<% if !@current %>
  <h2 class="headline_sub" style="font-size:30px"><%= "#{@player.firstname} #{@player.secondname} (#{@training_sessions.count-@training_sessions_not_present.count}/#{@training_sessions.count})"%></h2>
<% end %>

<div class="col-md-8 center-div">
    <input type="text" id="example" class="calendar-input" readonly/>
</div>

<script type="text/javascript">
$(function(){
  $('#example').glDatePicker({
    cssName: 'flatwhite',
    showAlways: true,
    dowOffset: 1,
    specialDates: [
      <% @training_sessions.all.each do |t| %>
        {
          <%  year = t.date_time.year
              month = t.date_time.month-1
              day = t.date_time.day%>
          <%= "date: new Date(#{year},#{month},#{day})," %>
          <% if @training_sessions_not_present.any? {|p| p.training_session_id == t.id}  %>
            cssClass: 'player_not_present'
          <% else %>
            cssClass: 'player_present'
          <% end %>
        },
      <% end %>
    ],
    selectableDates: [
      <% @training_sessions.all.each do |t| %>
        {
          <%  year = t.date_time.year
              month = t.date_time.month-1
              day = t.date_time.day %>
          <%= "date: new Date(#{year},#{month},#{day})," %>
        },
      <% end %>
    ],
    onClick: function(target, cell, date, data) {
      var tag =  date.getDate() + '-';
      var monat = (date.getMonth()+1)+ '-';
      var jahr = date.getFullYear();
      window.location.href = "/training_sessions/show?date="+tag+monat+jahr;
    }
  });

  function resize() {
    var height = $('.gldp-flatwhite').height()
    var top = parseInt($('.center-div').offset().top)
    var left = parseInt($('.center-div').offset().left)
    var width = parseInt($('.center-div').width())
    $('.center-div').css({ height: height })
    $('.gldp-flatwhite').css({
      top: top,
      left: left+15,
    })
    $('#example').css({
      margin:0,
      height:0
    })
  }

  resize()

});
</script>
