<% provide(:title, "Neues Training") %>
<h1 class="headline">Neues Training anlegen</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= form_for(@training_session) do |f| %>
      <%= render 'shared/error_messages', obj: @training_session %>

      <label for="date">Datum</label>
      <input type="text" id="date" value="<%= Date.today.to_time.strftime('%d-%m-%Y') %>" class="form-control" readonly/>

      <label for="time">Uhrzeit</label>
      <input type="text" id="time" class="timepicker-two form-control" readonly>

      <%= f.label :place, "Ort" %>
      <%= f.text_field :place, class: 'form-control', value: "Hultrop"%>

      <%= hidden_field_tag :date_time, "#{Date.today.to_time.strftime('%d-%m-%Y')} 19:00" %>

      <%= f.submit "Training anlegen", class:"btn btn-primary btn-lg" %>
    <% end %>
    
  </div>
</div>

<script type="text/javascript">
  $('#new_training_session').submit(function() {
    updateDateTime();
    return true;
  });

  function updateDateTime(){
    time = $('#time').val();
    date = $('#date').val();
    $('#date_time').val(date+" "+time);
  }

  $(function(){
    $('#date').glDatePicker({
      cssName: 'flatwhite',
      dowOffset: 1,
      specialDates: [
      <% @all_training_sessions.each do |t| %>
        {
          <%  year = t.date_time.year
              month = t.date_time.month-1
              day = t.date_time.day %>
          <%= "date: new Date(#{year},#{month},#{day})," %>
          cssClass: 'player_present'
        },
      <% end %>
      ],
      onClick: function(target, cell, date, data) {
        target.val(date.getDate() + '-' + (date.getMonth()+1) + '-' + date.getFullYear());
      }
    });

    $('.timepicker-two').wickedpicker({
      now:"19:00",
      twentyFour: true,
      title:"Wähle die Uhrzeit:"
    });
  });
</script>
