<% provide(:title, "Trainingsübersicht") %>
<h1 class="headline">Trainingsübersicht</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% if is_more_than_player? %>
      <%= render partial:'after_training_admin' %>
    <% else %>
      <%= render partial:'after_training' %>
    <% end %>

    <% if is_admin_or_trainer? %>
      <%= link_to "Training bearbeiten",
                  edit_training_session_path(@training_session),
                  class: "btn btn-warning btn_full_width btn-lg" %>

      <%= link_to "Training löschen",
                  training_session_path(@training_session),
                  method: :delete,
                  data: { confirm: "Sicher, dass du das Training löschen willst?" },
                  class: "btn btn-danger btn_full_width btn-lg" %>
    <% end %>

  </div>
</div>
