<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@deposit) do |f| %>
      <%= render 'shared/error_messages', obj: @deposit %>

      <%= f.label :player_id, "Spieler" %>
      <%= select("deposit", "player_id", Player.where("active='t'").order(:secondname).all.collect {|p| [ "#{p.firstname} #{p.secondname}", p.id ] }, { include_blank: false }, class: 'form-control') %>

      <%= f.label :amount, "Betrag" %>
      <%= f.number_field :amount, class: 'form-control', step: :any %>

      <%= f.label :date, "Datum" %>
      <%= f.text_field :date, id: "date", class: 'timepicker-two form-control', value: Time.now.strftime("%d-%m-%Y") ,readonly: true %>

      <%= f.submit btn_text, class:"btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#date').glDatePicker({
      cssName: 'flatwhite',
      dowOffset: 1,
      onClick: function(target, cell, date, data) {
        target.val(date.getDate() + '-' + (date.getMonth()+1) + '-' + date.getFullYear());
      }
    });
  });
</script>
