<%= link_to path do %>
<div class="col-md-3 market-update-gd">
  <div class="market-update-block clr-block-1" style="background-color:<%= color %>">

    <div class="col-md-4 market-update-right">
      <i class= "<%= icon %>" ></i>
    </div>

    <div class="col-md-8 market-update-left">
      <h4><%= headline %> </h4>
      <h3 id="<%= id %>"><%= subheadline %></h3>
      <p style="color:white"><%= description %></p>
    </div>

    <div class="clearfix"> </div>

  </div>
</div>
<% end %>
