<div class="col-md-10 col-md-offset-1 row" style="display: flex;justify-content: center;">

  <div class="col-md-4 market-update-right">
    <i class= "<%= icon %>"  style="font-size:0.4em;"></i>
  </div>

  <div class="col-md-8 market-update-left mobile_attributes">
    <h4 class="niceBox"> <%= description %></h4>
  </div>

</div>
