<!-- Calender -->
<div class="col-md-6 agile-calendar">
    <input type="text" id="example" class="calendar-input" readonly/>
</div>

<script type="text/javascript">
  $(function(){
    //initialize Calendar widget and set parameters
    $('#example').glDatePicker({
      cssName: 'flatwhite',
      showAlways:true,
      specialDates: [
        <% @training_sessions.all.each do |t| %>
        {
          <%  year = t.date_time.year
              month = t.date_time.month-1
              day = t.date_time.day %>
          <%= "date: new Date(#{year},#{month},#{day})," %>
          <% if @training_sessions_not_present.any? {|p| p.id == t.id}  %>
            cssClass: 'player_not_present'
          <% else %>
            cssClass: 'player_present'
          <% end %>
        },
        <% end %>
      ],
      selectableDates: [
        <% @training_sessions.all.each do |t| %>
        {
          <%  year = t.date_time.year
              month = t.date_time.month-1
              day = t.date_time.day%>
          <%= "date: new Date(#{year},#{month},#{day})," %>
        },
        <% end %>
      ],
      onClick: function(target, cell, date, data) {
        var top = parseInt($('.agile-calendar').offset().top)
        $('.gldp-flatwhite').css({ top: top })

        var tag =  date.getDate() + '-';
        var monat = (date.getMonth()+1)+ '-';
        var jahr = date.getFullYear();

        window.location.href = "/training_sessions/show?date="+tag+monat+jahr;
      },
      allowMonthSelect: false,
      allowYearSelect: false,
      prevArrow: '',
      dowOffset: 1,
      nextArrow: ''
    });

    // Set right Position for Calendar, problematic!
    function resize() {
      var height = $('.gldp-flatwhite').height()
      var top = parseInt($('.agile-calendar').offset().top)
      var left = parseInt($('.agile-calendar').offset().left)
      var width = parseInt($('.agile-calendar').width())
      $('.agile-calendar').css({ height: height })
      $('.gldp-flatwhite').css({
                    top: top,
                    left: left+15,
                    minWidth: width-15

      })
    }

    const mq = window.matchMedia( "(max-width: 320px)" );

    resize()

    if( mq.matches){
      var left = parseInt($('.agile-calendar').offset().left)
      $('.gldp-flatwhite').css({
                    left: left
      })
    }

    //Reload Window if windows resize: Update Calendar Posiiton is problematic
    var document_width, document_height;
    $(document).ready(function(){
      document_width=$(document).width();
    });

    $(window).resize(function(){
      if(document_width!=$(document).width()){
        document_width=$(document).width();
        location.reload();
      }
      resize()
    });
  });

</script>
