<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@player, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', obj: @player %>

      <%= f.label :firstname, "Vorname" %>
      <%= f.text_field :firstname, class: 'form-control' %>

      <%= f.label :secondname, "Nachname" %>
      <%= f.text_field :secondname, class: 'form-control' %>

      <%= f.label :username, "Benutzername" %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :image, "Bild" %>
      <%= f.file_field :image, class: 'form-control' %>

      <% if edit %>
          <label>Aktuelles Bild</label> </br>
          <%= image_tag @player.image.thumb.url %></br></br>
      <% end %>

      <label>Benutzerrollen</label></br>
      <label class="form-check-inline no_indent">
        <input type="checkbox" name="post[roles][]" value="1" <%= "checked" if !edit || (edit && is_player?(@player)) %>>Spieler</label>
      <label class="form-check-inline no_indent">
        <input type="checkbox" name="post[roles][]" id="trainer" value="8" <%= "checked" if edit && is_trainer?(@player) %>>Trainer</label>
      <label class="form-check-inline no_indent">
        <input type="checkbox" name="post[roles][]" id="trainer" value="4" <%= "checked" if edit && is_betreuer?(@player) %>>Betreuer</label>
      <label class="form-check-inline no_indent">
        <input type="checkbox" name="post[roles][]" id="kassierer" value="2" <%= "checked" if edit && is_kassierer?(@player) %>>Kassierer</label>
      <label class="form-check-inline no_indent">
        <input type="checkbox" name="post[roles][]" id="admin" value="16" <%= "checked" if edit && is_admin?(@player) %>>Admin</label>
      <input type="hidden" name="post[roles][]" value="">
      </br></br>


      <%= f.label :active, "Aktiv" %>
      <%= f.check_box :active, class: 'form-control' %>

      <%= f.label :password, "Passwort" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Paswort wiederholen" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit btn, class:"btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
