<% @kontoverlauf.each do |d| %>
  <% if d.get_type == "Strafe" %>
    <%= render partial:'kasse_box', locals: {
                                        icon: 'fa fa-minus',
                                        color: "#ff4757",
                                        strafe: true,
                                        item: d
                                      } %>
  <% else %>
    <%= render partial:'kasse_box', locals: {
                                      icon: 'fa fa-plus',
                                      color: "#2ed573",
                                      strafe: false,
                                      item: d
                                    } %>
  <% end %>
<% end %>
