<div class="col-md-12" style="background:<%= color %>; margin-top:10px;color:white; border-radius:10px">

    <div class="col-md-2 market-update-right">
      <i class="<%= icon %> bank-icon" style="font-size:1em" ></i>
    </div>

    <div class="col-md-10 market-update-left">
      <h5><%= item.date.to_time.strftime('%d.%m.%Y') %> </h5>
      <% if strafe %>
        <h4><%= item.get_description %></h4>
      <% else %>
        <h4><%= item.get_type %></h4>
      <% end> %>
      <h5><%= number_to_currency(item.get_amount, unit: "") %> €</h5>
    </div>

    <div class="clearfix"> </div>
    
</div>
