<section class="row market">
  <div class="market-updates">
      <%= render  partial:'box',
            locals: { icon: "fa fa-euro-sign",
                      type: "small",
                      color: "#5352ed",
                      headline: "Kontostand",
                      subheadline: "#{number_to_currency(@player.amount, unit: "")} €",
                      description: " ",
                      path: player_kassenbericht_path,
                      id: "kontostand"  }%>
      <%= render  partial:'box',
            locals: { icon: "fa fa-chart-pie",
                      type: "small",
                      color: "#ff4757",
                      headline: "Trainingsbeteiligung",
                      subheadline: "#{calculate_training_player_percentage(@player)}%",
                      description: "(#{@player.training_possible-@player.training_not_present}/#{@player.training_possible})",
                      path: training_sessions_path,
                      id: "trainingsbeteiligung"   }%>

      <%= render  partial:'box',
            locals: { icon: "fa fa-users",
                      type: "small",
                      color: "#2ed573",
                      headline: "Teamstatistik",
                      subheadline: "#{calculate_training_team_percentage}%",
                      description: "",
                      path: training_sessions_path,
                      id: "teamstatistik"   }%>

      <%= render  partial:'box',
            locals: { icon: "fa fa-square",
                      type: "middle",
                      color: "#eccc68",
                      headline: "Gelbe Karten",
                      subheadline: "#{@player.num_cards} Karten",
                      description: "",
                      path: player_cards_path,
                      id: "cards"    }%>
      <div class="clearfix"></div>
  </div>
</section>
