<% provide(:title, "Passwort ändern") %>
<h1 class="headline">Passwort ändern</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@player, url: update_password_path) do |f| %>
      <%= render 'shared/error_messages', obj: @player %>

      <%= f.label :password_old, "Altes Passwort" %>
      <%= f.password_field :password_old, class: 'form-control' %>

      <%= f.label :password, "Neues Passwort" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Neues Passwort wiederholen" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.hidden_field :change, value: true %>

      <%= f.submit("Passwort ändern", class: "btn btn-primary btn-lg") %>
    <% end %>
  </div>
</div>
