<% provide(:title, "Bild zuschneiden") %>
<h1 class="headline">Bild zuschneiden</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= image_tag @player.image.large.url, id:"cropbox" %>

    <h4>Vorschau</h4>
    <div style=" width:100px; height:100px; overflow:hidden; margin-bottom:20px;">
      <%= image_tag @player.image.large.url, id:"preview" %>
    </div>

    <%= form_for @player do |f| %>
      <%= f.hidden_field :crop_x %>
      <%= f.hidden_field :crop_y %>
      <%= f.hidden_field :crop_w %>
      <%= f.hidden_field :crop_h %>
      <%= f.submit "zuschneiden",croped: true, class:"btn btn-primary btn-lg"%>
    <% end %>
    
  </div>
</div>


<script>
  $('#cropbox').Jcrop({
    aspectRatio:1,
    setSelect: [0,0,600,600],
    onSelect: update,
    onChange: update
  });

  function update (coords) {
    $('#player_crop_x').val(coords.x);
    $('#player_crop_y').val(coords.y);
    $('#player_crop_w').val(coords.w);
    $('#player_crop_h').val(coords.h);
    updatePreview(coords);
  }

  function updatePreview (coords){
    $('#preview').css("width",Math.round(100.0/coords.w * $('#cropbox').width()) +'px');
    $('#preview').css("height",Math.round(100.0/coords.h * $('#cropbox').height()) +'px');
    $('#preview').css("margin-left",'-' + Math.round(100.0/coords.w * coords.x) +'px');
    $('#preview').css("margin-top",'-' + Math.round(100.0/coords.h * coords.y) +'px');
  }
</script>
