<% provide(:title, "Benutzer bearbeiten") %>
<h1 class="headline"><%= "#{@player.firstname} #{@player.secondname}" %> bearbeiten</h1>

<%= render partial:"form", locals: { btn: "Änderungen speichern", edit: true } %>
