<% provide(:title, "Spielerübersicht") %>
<h1 class="headline">Spielerübersicht</h1>

<div class="row market-update-gd training_listing">
  <div class="col-md-8 col-md-offset-2">

    <% if is_admin_or_trainer? %>
      <%= link_to "Neuen Spieler hinzufügen",
                new_player_path,
                class: "btn btn-success btn_full_width btn-lg" %>
    <% end %>

    <div class="center" style="margin-bottom:0px">
      <%= will_paginate %>
    </div>

    <% @players.each do |p| %>
      <div class="row player_listing">
        <div class="avatar col-md-2 player_listing_img_div">
          <%= display_avatar(p) %>
        </div>
        <div class="width-row-mobile col-md-9 market-update-left">
          <div class="row">
            <div class="col-md-12">
              <h3 class="player_listing_name"><%= "#{p.firstname} #{p.secondname}" %> </h3>
            </div>
            <div class="col-md-6">
              <%= render partial:'box_attributes',
                          locals: {
                            icon: "fa fa-chart-pie",
                            description: "#{calculate_training_player_percentage(p)}% (#{p.training_possible-p.training_not_present}/#{p.training_possible})"
                          }%>
            </div>
            <div class="col-md-6">
              <%= render partial:'box_attributes',
                          locals: {
                            icon: "fa fa-euro-sign",
                            description: "#{number_to_currency(p.amount, unit: "")} €"
                          }%>
            </div>
            <div class="col-md-6">
              <%= render partial:'box_attributes',
                          locals: {
                            icon: "fa fa-square",
                            description: "#{p.num_cards} Karten"
                          }%>
            </div>
            <div class="col-md-6">
              <%= render partial:'box_attributes',
                          locals: {
                            icon: "fa fa-trophy",
                            description: "#{p.num_potg} mal"
                          }%>
            </div>

            <% if is_admin_or_trainer? %>
              <div class="col-md-6">
                <%= link_to "Spieler bearbeiten",
                            edit_player_path(p),
                            class: "btn btn-warning btn_full_width btn-lg" %>
              </div>
              <div class="col-md-6">
                <%= link_to "Spieler löschen",
                            player_path(p),
                            method: :delete,
                            data: { confirm: "Sicher, dass du den Spieler löschen willst?" },
                            class: "btn btn-danger btn_full_width btn-lg" %>
              </div>
            <% end %>
            <% if is_kassierer_or_admin? %>
              <div class="col-md-6">
                <%= link_to "Kontoverlauf",
                            player_kassenbericht_url(player_id: p.id),
                            class: "btn btn-success btn_full_width btn-lg" %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>

    <div class="center" style="margin-bottom:0px">
      <%= will_paginate %>
    </div>
  </div>
</div>
