<% provide(:title, "Kassenbericht") %>
<h1 class="headline">Mannschaftskasse</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="col-md-12 center">
      <h3>Kontostand:</h3>
      <h2  id="balance" style="color:<%= @player.amount >= 0? '#2ed573' : '#ff4757' %>; margin-bottom:40px;"><%= number_to_currency(@player.amount, unit: "") %> € </h2>
    </div>

    <div class="col-md-12">
      <%= render partial:'kasse_kontoverlauf_table' %>
    </div>
    
  </div>
</div>


<script type="text/javascript">
  var options = {
    useEasing : true,
    useGrouping : true,
    separator : ',',
    decimal : '.',
    prefix : '',
    suffix : ' €'
  };
  var demo = new CountUp("balance", 0, <%= @player.amount %>, 2, 2.5, options);
  demo.start();
</script>
