<% provide(:title, "Gelbe Karten Übersicht") %>

<div class="center">
  <h3>Übersicht Gelbe Karten</h3>
  <%= will_paginate @cards %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Datum</th>
      </tr>
    </thead>
    <tbody>
    <% @cards.each do |c| %>
      <tr>
        <td><%= c.date.to_time.strftime('%d.%m.%Y') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
