<% provide(:title, "Home") %>
<section class="main-content">

  <%= render partial:'render_boxes' %>

  <section class="row">
    <%= render partial: 'calender' %>
    <div class="clearfix"></div>
  </section>

</section>

<script type="text/javascript">
  var balance = new CountUp("kontostand", 0, <%= @player.amount %>, 2, 1.5, {suffix : ' €'});
  var solo = new CountUp("trainingsbeteiligung", 0, <%= calculate_training_player_percentage(@player) %>, 2, 1.5, {suffix : ' %'});
  var team = new CountUp("teamstatistik", 0, <%= calculate_training_team_percentage %>, 2, 1.5, {suffix : ' %'});
  var cards = new CountUp("cards", 0, <%= @player.num_cards %>, 0, 2, {suffix : ' Karten'});
  balance.start();
  solo.start();
  team.start();
  cards.start();
</script>
