<div class="center" style="margin-top:20px">
  <%= will_paginate @players, param_name: 'players_page'%>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Spieler</th>
        <th>Anzahl Karten</th>
      </tr>
    </thead>
    <tbody>
    <% @players.each do |p| %>
      <tr>
        <td><%= "#{p.firstname} #{p.secondname}" %></td>
        <td><%= p.num_cards %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
