<div class="center" style="margin-top:20px">
  <%= will_paginate @cards, param_name: 'cards_page'%>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Spieler</th>
        <% if is_more_than_player? %>
          <th>bearbeiten</th>
          <th>löschen</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @cards.each do |c| %>
      <tr>
        <td><%= c.date.to_time.strftime('%d.%m.%Y') %></td>
        <td><%= "#{c.player.firstname} #{c.player.secondname}" %></td>

        <% if is_more_than_player? %>
          <td><%= link_to "bearbeiten",
                      edit_card_path(c),
                      class: "btn btn-warning btn_full_width", style: "margin-top:0px"  %></td>

          <td><%= link_to "löschen",
                      card_path(c),
                      method: :delete,
                      data: { confirm: "Sicher, dass du die Gelbe Karte löschen willst?" },
                      class: "btn btn-danger btn_full_width", style: "margin-top:0px" %></td>
        <% end %>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>
