<% provide(:title, "Auflistung der Gelben Karten") %>
<h1 class="headline">Auflistung der Gelben Karten</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if is_more_than_player? %>
      <%= link_to "Neue Gelbe Karte hinzufügen",
                new_card_path,
                class: "btn btn-success btn_full_width btn-lg" %>
    <% end %>

    <h4 style="margin-top:20px;">Letzten Gelben Karten</h4>
    <%= render partial:'yellow_cards_table' %>

    <h4 style="margin-top:20px;">Spieler Gelbe Karten</h4>
    <%= render partial:'player_yellow_cards_table' %>

  </div>
</div>
