<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@penalty, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', obj: @penalty %>

      <%= f.label :name, "Strafen Name" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :costs, "Strafen Kosten" %>
      <%= f.number_field :costs, class: 'form-control', step: :any %>

      <%= f.submit btn_text, class:"btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
