<% provide(:title, "Strafenkatalog") %>
<h1 class="headline">Strafenkatalog</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if is_kassierer_or_admin_or_trainer? %>
      <%= link_to "Neue Strafe hinzufügen",
                new_penalty_path,
                class: "btn btn-success btn_full_width",
                style: "margin-bottom:20px"  %>
    <% end %>

    <div class="center">
      <%= will_paginate %>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Strafe</th>
            <th>Kosten</th>
            <% if is_kassierer_or_admin_or_trainer? %>
              <th>bearbeiten</th>
              <th>löschen</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <% @penalties.each do |p| %>
          <tr>
            <td><%= p.name %></td>
            <td><%= number_to_currency(p.costs, unit: "€") %></td>

            <% if is_kassierer_or_admin_or_trainer? %>
              <td><%= link_to "Strafe bearbeiten",
                          edit_penalty_path(p),
                          class: "btn btn-warning btn_full_width", style: "margin-top:0px"  %></td>

              <td><%= link_to "Strafe löschen",
                          penalty_path(p),
                          method: :delete,
                          data: { confirm: "Sicher, dass du die Strafe löschen willst?" },
                          class: "btn btn-danger btn_full_width", style: "margin-top:0px" %></td>
            <% end %>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
