@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */
.headline{
  letter-spacing: 0px;
  text-align: center;
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.headline_sub{
  letter-spacing: 0px;
  text-align: center;
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 20px;
}


.pog_image {
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
}
/* LOGIN */
.logo {
  width:50%;
  margin-left:25%;
  padding-bottom: 30px;
}

.login_header {
  font-weight: 900;
  text-align: center;
  font-size: 5em;
  margin-bottom: 30px;
}

/* Calendar */
.player_not_present {
  color: #fff !important;
  font-weight: bold;
  background: #ff4757 !important;
  padding: 6px !important;
  border-radius: 10px;
}

.player_present {
  color: #fff !important;
  font-weight: bold;
  background: #2ed573 !important;
  padding: 6px !important;
  border-radius: 10px;
}

.calendar-input {
  border:0;
  color:white
}

/* Listing Training */

.training_listing{
  margin-top:0px !important;
}

.training_listing_name{
  text-align: left;
  font-size: 1.5em !important;
  font-weight:bold;
}

.training {
  padding-left: 0px;
}

.training ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
  display: flex;
  //justify-content: center;
}

.training ul li {
  font-size: 1.5em;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
  padding-left: 2.4em;
  //text-align: center;
}

.training ul li.icon-calendar {
  background-image: url("calendar_black.svg");
}
.training ul li.icon-place {
  background-image: url("map.svg");
}

.training ul li.icon-clock {
  background-image: url("time.svg");
}

.training ul li.icon-player {
  background-image: url("man_user.svg");
}

.training ul li.icon-process {
  background-image: url("loading-process.svg");
}

/* Listing Training */
.player_listing_name{
  vertical-align: middle;
  text-align: center;
  text-align: center;
  font-family: 'Droid serif', serif;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
}

.avatar img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.player_listing_img {
  width:75%;
}

.player_listing_img_div {
  margin-left: 15px;
  display: inline;
  vertical-align: middle;
  margin: auto;
}

.player_listing {
  background: #414a4c !important;
  padding: 10px !important;
  border-radius: 15px !important;
  margin-top:10px;
  font-size: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  color: white;
}

/* Sonstiges */
.img-circle{
  img{
    border-radius: 50%;
    width: 75%;
    max-width: 100px;
  }
}

.gldp-flatwhite .selected {
  color: black !important;
  font-weight: bold;
  background: white !important;
}

.listingTrainingItems {
  text-decoration: none;
  color:white;
  :hover{
    color:white;
  }
}
a:hover{
  text-decoration: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.main-content {
  width: 100%;
}

.main {
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}

.center{
  text-align: center;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

.bank-icon {
  display: block !important;
}
.niceBox {
  font-size: 1.5em !important;
  font-weight: bold;
  line-height: 20px !important;
  text-align: center;
  font-family: 'Droid serif', serif;
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
}

.btn_full_width {
  width: 100%;
  margin-top: 10px;
}

.center-div {
  float:none;
  margin:0 auto;
}

/* forms */
input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input{
  height: auto !important;
}

#error_explanation{
  color:red;
  ul{
    color:red;
    margin:0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error;
  .form-control{
    color: $state-danger-text;
  }
}

@media (min-width: 1366px) {
  .main {
    max-width: 1366px;
  }

  .img-circle{
    img{
      border-radius: 50%;
      width: 50%;
      max-width: 100px;
    }
  }

  .training_listing{
    margin-top:10px !important;
  }

  .training_listing_name{
    text-align: left;
    font-size: 2.0em !important;
    font-weight:bold;
  }

  .player_listing_img {
    width: 90px;
  }

  .headline{
    font-size: 3em;
    letter-spacing: 0px;
    font-weight: bold;
  }

  .headline_sub{
    font-size: 3em;
    letter-spacing: 0px;
    font-weight: bold;
  }

  .mobile_attributes {
    margin-top: 12px;
  }

  .player_listing_img_div {
    margin-top: 15px;
  }

  .market-update-right {
    font-size: 3.5em !important;
  }

  .bank-icon {
    font-size: 0.8em !important;
    margin-top: 25px;
  }
}

@media (max-width: 1366px) {
  .login_header {
    font-weight: bold;
    font-size: 4em;
  }

  .player_listing_name{
    font-size: 2em;
  }

  .width-row-mobile {
    width:100% !important;
  }

  .mobile_attributes{
    margin-top: 8px;
  }

  .avatar {
    width: 100% !important;
  }

  .market-update-right {
    font-size: 3em !important;
  }
  .bank-icon {
    font-size: 0.8em !important;
    margin-top: 27px;
  }
  .training_listing{
    margin-top:10px !important;
  }

}

@media (min-width: 991px) and (max-width: 1080px) {
  .avatar {
    width: 100% !important;
  }
  .market-update-right {
    font-size: 3em !important;
  }
  .bank-icon {
    font-size: 0.8em !important;
    margin-top: 27px;
  }
  .training_listing{
    margin-top:10px !important;
  }
}

@media (max-width: 990px){
  .avatar {
    width: 100% !important;
  }

  .width-row-mobile {
    margin-left: 0px !important;
  }

  .bank-icon {
    font-size: 0.8em !important;
    margin-top: 27px;
  }
}

@media (max-width: 800px) {
  .bank-icon {
    font-size: 0.6em !important;
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .login_header {
    font-weight: bold;
    font-size: 4em;
  }

  .avatar {
    width: 100% !important;
  }

  .width-row-mobile {
    width:100% !important;
  }

  .player_listing_name{
    font-size: 2em;
  }
}

@media (max-width: 400px) {
  .login_header {
    font-weight: bold;
    font-size: 3em;
  }

  .headline{
    display: none;
  }
  .player_listing_name{
    font-size: 2em;
  }

  .mobile_attributes{
    margin-top: 20px;
  }

  .avatar {
    width: 100% !important;
  }

  .training ul {
    display: block;
  }

  .market-update-right {
    font-size: 4em !important;
  }

  .niceBox {
    font-size: 1.6em !important;
  }

  .bank-icon {
    font-size: 0.6em !important;
    margin-top: 28px;
  }

  .training_listing{
    margin-top:0px !important;
  }
}
