body {
  background: #fff;
  margin: 0;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  padding-left: 240px;
  overflow-x: hidden;
}

main {
  position: relative;
  height: 100vh;
}

main .helper {
  background: rgba(0, 0, 0, 0.2);
  color: #ffea92;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1.2em 2em;
  text-align: center;
  border-radius: 20px;
  font-size: 2em;
  font-weight: bold;
}
main .helper span {
  color: rgba(0, 0, 0, 0.2);
  font-size: 0.4em;
  display: block;
}
.menu {
  background: #414a4c;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  outline: none;
}

.outer {
 overflow: hidden;
 height: 100%;
 margin-top: -10px;
}

.inner {
 margin-right: -16px;
 overflow-y: scroll;
 overflow-x: hidden;
 height:100%;
}

.menu-background {
  background: #414a4c;
  height:50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  visibility: hidden;
}

.menu-background h4{
  color:white;
  text-align:center
}

.menu .avatar {
  background: rgba(0, 0, 0, 0.1);
  padding: 2em 0.5em;
  text-align: center;
}
.menu .avatar img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.menu .avatar h2 {
  font-weight: normal;
  margin-bottom: 0;
  color: #777;
  font-size: 1.2em;
}
.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
  color:#fff !important;
}

.menu ul a {
  color:#fff;
}

.menu ul li {
  padding: 20px 1em 1.2em 3em;
  font-size: 1.1em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}

.menu ul li.icon-password {
  background-image: url("pin-code.svg");
}
.menu ul li.icon-players {
  background-image: url("multiple-users-silhouette.svg");
}
.menu ul li.icon-info {
  background-image: url("information.svg");
}
.menu ul li.icon-law-edit {
  background-image: url("law-edit.png");
}
.menu ul li.icon-trophy {
  background-image: url("trophy.png");
}
.menu ul li.icon-trophy-edit {
  background-image: url("trophy-edit.png");
}
.menu ul li.icon-planning {
  background-image: url("planning.svg");
}
.menu ul li.icon-vacation {
  background-image: url("sun-umbrella.svg");
}
.menu ul li.icon-vacation-edit {
  background-image: url("vacation_edit.png");
}
.icon-players {
  background-image: url("multiple-users-silhouette.svg");
}

.menu ul li.icon-calendar-plus {
  background-image: url("calendar_plus.svg");
}
.menu ul li.icon-user-edit {
  background-image: url("user.svg");
}
.menu ul li.icon-logout {
  background-image: url("logout.svg");
}
.menu ul li.icon-kasse {
  background-image: url("euro-currency-symbol.svg");
}
.menu ul li.icon-home {
  background-image: url("home.svg");
}
.menu ul li.icon-calendar {
  background-image: url("calendar.svg");
}
.menu ul li.icon-add {
  background-image: url("file.svg");
}
.menu ul li.icon-list {
  background-image: url("list.svg");
}
.menu ul li.icon-law-book {
  background-image: url("law-book.svg");
}
.menu ul li.icon-withdraw {
  background-image: url("withdraw.png");
}
.menu ul li.icon-deposit {
  background-image: url("deposit.png");
}
.menu ul li.icon-all-penalties {
  background-image: url("strafen.png");
}
.menu ul li.icon-cards {
  background-image: url("card.png");
}
.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
  outline: none;
}
@media screen and (max-width: 900px) and (min-width: 400px) {
  body {
    padding-left: 90px;
  }
  .menu {
    width: 90px;
  }
  .menu .avatar {
    padding: 0.5em;
    position: relative;
  }
  .menu .avatar img {
    width: 60px;
  }
  .menu .avatar h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu .avatar:hover h2 {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
  .menu ul li {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
  }
  .menu ul li span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu ul li span:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
  }
  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
}
@media screen and (max-width: 400px) {
  body {
    padding-left: 0;
  }

  .main {
    margin-top:60px;
  }
  .menu-background {
    visibility: visible;
  }

  .menu {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  .menu .smartphone-menu-trigger {
    width: 40px;
    height: 50px;
    position: absolute;
    left: 100%;
    background: #414a4c;
  }

  #menu-titel {
    margin-top:15px;
    font-weight:bold;
  }

  .menu-image {
    float:right;
    margin-top:-33px;
    margin-right:10px;
  }

  .menu .smartphone-menu-trigger p {
    content: '';
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .menu ul li {
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
  }
  .menu:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
  .menu:focus .smartphone-menu-trigger {
    pointer-events: none;
  }

  .center-avatar {
    margin-left: 28%;
  }

}
