/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

/* Notification Start */
@font-face{
  text-rendering: optimizeLegibility;
}
.alert-info .alert-icon {
    background-color: #99cce3;
}
.alert-danger .alert-icon {
    background-color: #fcb1ae;
}
.alert-success .alert-icon {
    background-color: #98d7ad;
}
.alert-warning .alert-icon {
    background-color: #ffe699;
}
.alert-icon i {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}
.alert-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.notification-sender {
    color: #414147;
}
.alert-success .notification-info a {
    color: #42b663;
}
.notification-info p {
    margin: 0px;
    color: #999;
    font-size: 12px;
}
.notification-meta {
    margin-bottom: 3px;
    padding-left: 0;
    list-style: none;
}
.notification-info {
    margin-left: 56px;
    margin-top: -40px;
}
.notifications{
	background-color: #ffe6b3;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 2em;
}

/* Notification End */

/*--market--*/
.market-update-block {
  padding: 2em 2em;
  background: #999;
}

.market-update-block h3 {
  font-size: 1.7em;
  color: #fff;
  margin: 0.3em 0em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.market-update-block h4 {
	font-size: 1.2em;
  color: #fff;
  margin: 0.3em 0em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.market-update-block.clr-block-1 {
  background: #53d769;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.market-update-left {
  padding: 0px;
}

.market-update-right {
  padding-left: 0;
  font-size: 2.5em;
  color:#fff;
  text-align: left;
}

.market-updates {
  margin: 1.5em 0;
}


/*-- responsive design --*/

@media (min-width: 1480px){
  .market-update-right {
      font-size: 3.5em;
  }
}

@media (max-width: 1366px){

}

@media (max-width: 1280px){
  .market-update-block {
      padding: 1em 1em;
  }

}

@media (max-width: 1080px){
  .market-update-gd {
      float: left;
      width: 50%;
      margin: 1em 0;
  }
  .market-updates {
      margin: 0em 0;
  }
  .agile-calendar {
      width: 100%;
      margin-bottom: 1.5em;
  }
  .market-update-right {
      font-size: 3.5em;
  }
}

@media (max-width: 991px){
  .market-update-left {
      float: left;
      margin-left: 20px;
  }
  .market-update-right {
      float: left;
  }
  .market-update-right {
      font-size: 3.5em;
  }
}

@media (max-width: 800px){
  .market-update-right {
      width: 100%;
      padding: 0;
      text-align: center;
  }
  .market-update-left {
      margin-left: 0;
      text-align: center;
      width: 100%;
  }
}

@media (max-width: 414px){
  .market-update-gd {
      float: left;
      width: 100%;
  }
  .market-update-right {
      font-size: 3.5em;
  }

  .market-update-left {
      margin-left: 0;
      text-align: left;
      width: 63%;
  }
  .market-update-right {
      width: 26%;
      padding: 0;
      text-align: left;
  }
  .calendar-widget {
      padding: 1em;
  }
}

@media (max-width: 320px){
  .market-update-gd {
      padding: 0;
  }
  .market-update-gd {
      margin: 0.8em 0;
  }
  .market-update-right {
      font-size: 3em;
      width: 30%;
  }
  .panel-body {
      padding: 6px ! important;
  }
  .agile-calendar {
      margin-bottom: 1em;
      padding: 0;
  }
}
