<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<script>
  setTimeout("$('.alert-success').fadeOut('slow')", 5000)
  setTimeout("$('.alert-danger').fadeOut('slow')", 5000)
</script>
<% end %>
