<div class="menu-background">
  <h4 id="menu-titel"><%= mobile_header_title(yield(:title)) %></h4>
  <div class="menu-image"> <%= image_tag "logo.png", height: "30px" %></div>
</div>

<div class="menu" tabindex="0">
  <div class="smartphone-menu-trigger">
    <p style="top:40%"></p>
    <p style="top:50%"></p>
    <p style="top:60%"></p>
  </div>

  <div class="outer">
    <div class="inner">
      <header class="avatar">
		    <%= display_avatar(current_player) %>
        <h2><%= "#{current_player.firstname} #{current_player.secondname}"%></h2>
        <h2 style="margin-top:0px;font-size:15px;"><%= "(#{roles})"%></h2>
      </header>

  	  <ul>
        <%= link_to root_path do%><li class="icon-home"><span>Home</span></li><%end%>
        <%= link_to training_sessions_path do%><li class="icon-calendar"><span>Trainingseinheiten</span></li><%end%>
        <%= link_to players_path do%><li class="icon-players"><span>Spielerliste</span></li><%end%>
        <%= link_to player_kassenbericht_path do%><li class="icon-kasse"><span>Kasse</span></li><%end%>
        <%= link_to penalties_path do%><li class="icon-law-book"><span>Strafenkatalog</span></li><%end%>
        <% if is_player? %>
          <%= link_to vaccations_path do%><li class="icon-vacation"><span>Urlaub / Abmeldung</span></li><%end%>
        <% end %>
        <%= link_to show_potg_path, rel:'nofollow' do%><li class="icon-trophy"><span>Spieler des Spiels</span></li><%end%>
        <%= link_to change_password_path do%><li class="icon-password"><span>Passwort ändern</span></li><%end%>
        <%= link_to information_path do%><li class="icon-info"><span>Informationen</span></li><%end%>
        <% if is_more_than_player? %>
          <hr>
          <% if is_admin_or_trainer? %>
            <%= link_to new_training_session_path do%><li class="icon-calendar-plus"><span>Neue Trainingseinheit</span></li><%end%>
            <%= link_to weekly_training_index_path do%><li class="icon-planning"><span>Wöchentliche Übersicht</span></li><%end%>
            <%= link_to players_path do%><li class="icon-user-edit"><span>Spieler verwalten</span></li><%end%>
            <%= link_to vaccation_overview_path do%><li class="icon-vacation-edit"><span>Urlaubsübersicht</span></li><%end%>
            <%= link_to penalties_path do%><li class="icon-law-edit"><span>Strafenkatalog</span></li><%end%>
          <% end %>
          <%= link_to cards_path do%><li class="icon-cards"><span>Gelbe Karten verwalten</span></li><%end%>
          <%= link_to player_of_the_games_path do%><li class="icon-trophy-edit"><span>Spieler des Spiels verwalten</span></li><%end%>
        <% end %>

        <% if is_kassierer_or_admin? %>
          <hr>
          <%= link_to new_player_penalty_path do%><li class="icon-add"><span>Strafe hinzufügen</span></li><%end%>
          <%= link_to new_deposit_path do%><li class="icon-deposit"><span>Einzahlung hinzufügen</span></li><%end%>
          <%= link_to new_withdraw_path do%><li class="icon-withdraw"><span>Auszahlung hinzufügen</span></li><%end%>
          <%= link_to kassenbericht_path do%><li class="icon-list"><span>Kassenbericht</span></li><%end%>
          <%= link_to player_penalties_path do%><li class="icon-all-penalties"><span>Alle Strafen</span></li><%end%>
          <%= link_to penalties_path do%><li class="icon-law-edit"><span>Strafenkatalog</span></li><%end%>
        <% end %>

        <hr>
        <%= link_to logout_path, method: :delete do%><li class="icon-logout"><span>Log out</span></li><%end%>
        <p style="height:15px;width:100%;"></p> <!-- Absatz hinzufügen für Linkvorschau -->
      </ul>
    </div>
  </div>
</div>
