<!DOCTYPE html>
<html>

  <head>
    <title><%= yield(:title) %> | SWH APP</title>
    <%= render partial: 'layouts/head' %>
    <%= render 'application/favicon' %>
  </head>

  <body <%= "style=padding-left:0px;" if (controller_name == "sessions") %>>
    <div <%= "class=main" if !(controller_name == "sessions") %>>
      <%= render partial: 'layouts/header' if !(controller_name == "sessions") %>
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>

</html>
